x-deploy: &deploy_config
  mode: replicated
  replicas: ${COMMON_REPLICAS:-1}
  update_config:
    parallelism: 1
    order: start-first
    failure_action: rollback
    delay: 5s
  rollback_config:
    parallelism: 0
    order: stop-first
  restart_policy:
    condition: any
    delay: 5s
    max_attempts: 3
    window: 5s

services:
  nginx:
    image: nginx:1.27.0
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/nginx_sites_available:/etc/nginx/conf.d/default.conf:ro
      - nginx_logs:/var/log/nginx
    networks:
      - monitoring_swarm
    deploy:
      mode: replicated
      replicas: ${NGINX_REPLICAS:-1}
      update_config:
        parallelism: 1
        order: start-first
        failure_action: rollback
        delay: 5s
      rollback_config:
        parallelism: 0
        order: stop-first
      restart_policy:
        condition: any
        delay: 5s
        max_attempts: 3
        window: 5s

  alloy:
    image: grafana/alloy:v1.11.1
    ports:
      - "12345:12345"
    volumes:
      - ./alloy/config.alloy:/etc/alloy/config.alloy:ro
      - alloy_data:/var/lib/alloy
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/host/root:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    command:
      - "run"
      - "/etc/alloy/config.alloy"
      - "--server.http.listen-addr=0.0.0.0:12345"
      - "--storage.path=/var/lib/alloy/data"
    networks:
      - monitoring_swarm
    deploy:
      mode: global
      restart_policy:
        condition: any
        delay: 5s
        max_attempts: 3
        window: 5s

  loki:
    image: grafana/loki:3.0.0
    user: "0:0"
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/config.yaml
    volumes:
      - ./loki/config.yaml:/etc/loki/config.yaml:ro
      - ./loki/rules_source:/loki/rules_source:ro
      - loki_rules_storage:/loki/rules_storage
      - loki_data:/loki
    networks:
      - monitoring_swarm
    deploy: *deploy_config

  prometheus:
    image: prom/prometheus:v2.53.0
    ports:
      - "9090:9090"
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.retention.time=7d"
      - "--storage.tsdb.retention.size=2GB"
      - "--enable-feature=remote-write-receiver"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    networks:
      - monitoring_swarm
    deploy: *deploy_config

  grafana:
    image: grafana/grafana:10.3.3
    ports:
      - "3456:3000"
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
      - ./grafana:/var/lib/grafana/dashboards:ro
    networks:
      - monitoring_swarm
    deploy: *deploy_config

volumes:
  nginx_logs:
  prometheus_data:
  loki_data:
  loki_rules_storage:
  alloy_data:

networks:
  monitoring_swarm:
    driver: overlay
    ipam:
      config:
        - subnet: 10.0.3.0/24
