x-deploy: &deploy_config
  mode: replicated
  replicas: ${COMMON_REPLICAS:-1}
  update_config:
    parallelism: 1
    order: start-first
    failure_action: rollback
    delay: 5s
  rollback_config:
    parallelism: 0
    order: stop-first
  restart_policy:
    condition: any
    delay: 5s
    max_attempts: 3
    window: 5s

services:
  nginx:
    image: nginx:1.27
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/nginx_sites_available:/etc/nginx/sites-available/default:ro
    logging:
      driver: local
      options:
        max-size: "50m"
        max-file: "5"
    networks:
      - monitoring_swarm
    deploy:
      mode: replicated
      replicas: ${NGINX_REPLICAS:-1}
      update_config:
        parallelism: 1
        order: start-first
        failure_action: rollback
        delay: 5s
      rollback_config:
        parallelism: 0
        order: stop-first
      restart_policy:
        condition: any
        delay: 5s
        max_attempts: 3
        window: 5s

  alloy:
    image: grafana/alloy:v1.11.3
    ports:
      - "12345:12345"
    command:
      - "run"
      - "--server.http.listen-addr=0.0.0.0:12345"
      - "--storage.path=/var/lib/alloy/data"
      - "/etc/alloy/config.alloy"
    volumes:
      - ./alloy/config.alloy:/etc/alloy/config.alloy:ro
      - alloy_data:/var/lib/alloy
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/host/root:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - monitoring_swarm
    deploy: *deploy_config

  prometheus:
    image: prom/prometheus:v3.7.3
    ports:
      - "9090:9090"
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.retention.time=7d"
      - "--storage.tsdb.retention.size=2GB"
      - "--web.enable-remote-write-receiver"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    networks:
      - monitoring_swarm
    deploy: *deploy_config

  loki:
    image: grafana/loki:3.5.8
    ports:
      - "3102:3102"
    command:
      - "-config.file=/etc/loki/local-config.yaml"
    volumes:
      - ./loki/local-config.yaml:/etc/loki/local-config.yaml:ro
      - loki_data:/loki
      - ./loki/rules_source:/loki/rules_source:ro
      - loki_rules_storage:/loki/rules_storage
    user: "0"
    networks:
      - monitoring_swarm
    deploy: *deploy_config

  grafana:
    image: grafana/grafana:12.2.1
    ports:
      - "3456:3000"
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
      - ./grafana/dashboards:/var/lib/grafana/dashboards:ro
    networks:
      - monitoring_swarm
    deploy: *deploy_config

volumes:
  grafana_data:
  prometheus_data:
  loki_data:
  loki_rules_storage:
  alloy_data:

networks:
  monitoring_swarm:
    driver: overlay
    ipam:
      config:
        - subnet: 10.0.3.0/24
